---
import Layout from '../layouts/Layout.astro';

import { Section } from '../components/shared/Section';

import { CULTUREA_YEAR } from '../constants';
import '../styles/headingStyles.css';
import { teamMemberItems } from '../data/teamMemberItems';
import { TeamMemberItem } from '../components/team/TeamMemberItem';
import { ScrollToTopButton } from '../components/buttons/ScrollTopButton';

import { ContactsIcon } from '../components/icons/ContactsIcon';
---

<Layout title={`Culturea ${CULTUREA_YEAR} - Kontakty`}>
  <ScrollToTopButton />
  <Section
    id="kontakty"
    className="bg-beige pb-36"
    headlineClassName="text-dark-green"
    title="Kontakty"
    noPYDesktop
  >
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 justify-items-center gap-4 items-stretch gap-y-4 sm:gap-y-16 md:gap-y-24 mx-auto max-w-full"
    >
      {
        teamMemberItems.map(({ name, position, email, phone, img }, index) => (
          <TeamMemberItem
            isEven={index % 2 === 0}
            name={name}
            position={position}
            email={email}
            img={img}
            phone={phone}
          />
        ))
      }
    </div>
    <div class="absolute bottom-0 left-1/3 md:left-1/4 -translate-x-1/2">
      <ContactsIcon />
    </div>
  </Section>
</Layout>
